body{
    background-color: #333333;
    color: #dddddd;
    font-family: Tahoma, Arial;
}

.splitter .handlerbar{
    background-color: #555555;
}

svg.loading path,
svg.loading rect{
    fill: white;
}

.tree-item .text:hover{
    background-color: #444444;
}

.file-edit-container .header{
    background-color: #333333;
}

.file-edit-container .header .item{
    background-color: #444444;
}

.file-edit-container .header .active{
    background-color: #1e1e1e;
    color: #eeeeee;
}

.file-edit-container .body{
    background-color: #1e1e1e;
}