<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Remote Work Space</title>
        <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="site.css">
        <link rel="stylesheet" type="text/css" href="themes/darkblack.css">
        <link rel="stylesheet" type="text/css" href="xterm.css">
        <script src="monaco-editor/min/vs/loader.js"></script>
    </head>
    <body>
        <div id="root">
        </div>
        <script src="bundle.js"></script>
    </body>
</html>