html,
body,
#root{
    width:100%;
    height:100%;
    margin: 0px;
    padding: 0px;
}

.splitter{
    height: 100%;
    width: 100%;
    position: relative;
}

.splitter .firstPane,
.splitter .secondPane{
    display: inline-block;
}

.horizontal .handlerbar{
    cursor: col-resize;
}

.vertical .handlerbar{
    cursor: row-resize;
}

.file-explorer{
    vertical-align: top;
    overflow: auto;
    height: 100%;
}

.file-explorer h4{
    padding-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.tree-item{
    list-style: none;
    cursor:pointer;
    padding-left: 8px;
}

.tree-item .material-icons{
    font-size: 14px;
    vertical-align: bottom;
    padding-bottom: 1px;
}

.tree-item .text{
    padding-top: 5px;
    padding-bottom: 5px;
}

.tree-item .text span{
    padding-left: 2px;
}

.tree-item li{
    font-size:14px;
    text-overflow: clip;
    white-space: nowrap;
}

.tree-item li.file .text{
    padding-left: 14px;
}

.file-edit-container{
    position: relative;
    width: 100%;
    height: 100%;
}

.file-edit-container .header{
    position: absolute;
    top:0px;
    bottom: 35px;
    left: 0px;
    right: 0px;
    font-size: 14px;
}

.file-edit-container .header .item{
    display: inline-block;
    margin-right: 2px;
    height: 100%;
    cursor: pointer;
    vertical-align: middle;
    line-height: 100%;
    padding: 10px;
    min-width: 50px;
}

.file-edit-container .header .item .close{
    margin-left: 10px;
    border-radius: 40%;
}

.file-edit-container .header .item .close .material-icons{
    font-size: 14px;
    vertical-align: bottom;
}

.file-edit-container .body{
    position: absolute;
    top:35px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.file-editor{
    height: 100%;
}

.terminal{
    height: 100%;
}

.popup{
    position: fixed;
    border-width: 1px;
    border-style:solid;
    display: none;
    z-index: 200;
}

.menu{
    list-style: none;
    padding: 0px;
    min-width: 150px;
    cursor: default;
}

.menu li{
    padding-left: 15px;
    padding-right: 15px;
}

.menu-item{
    padding-top: 5px;
    padding-bottom: 5px;
}

.menu-divider hr{
    border-top: none;
}