html,
body,
#root{
    width:100%;
    height:100%;
    margin: 0px;
    padding: 0px;
}

.splitter{
    height: 100%;
    width: 100%;
    position: relative;
}

.splitter .handlerbar{
    cursor: col-resize;
}

